.start-page {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.mat-button {
  width: 200px;
  height: 150px;
  border: 1px solid #e1e1e1;
  text-transform: uppercase;
  font-weight: 300;
}
